:root {
  --gray-900: #3d3b48;
  --gray-200: #dedede;
  --purple-700: #5e54a4;
  --purple-400: #a6a1cf;
  --purple-350: #bab7d4;
  --green-400: #38cc8b;
  --green-300: #77e2b3;
  --red-400: #ff7979;
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/poppins-v24-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  src: url("assets/fonts/poppins-v24-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/poppins-v24-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/poppins-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
/* @media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
} */

body {
  background-image: url(assets/images/bg-intro-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--red-400);
  font-family: "Poppins";
  /* 4. Add accessible line-height */
  line-height: 1;
  /* 5. Improve text rendering */
  /* -webkit-font-smoothing: antialiased; */
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} */

/* 9. Improve line wrapping */
/* p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
} */

/*
  10. Create a root stacking context
*/
/* #root,
#__next {
  isolation: isolate;
} */

.main {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  padding: 88px 24px 68px 24px;
}

.heading {
  text-align: center;
  color: #fff;
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.5px;
  margin-block-end: 16px;
}

.text {
  font-weight: 500;
  line-height: 1.65;
}

.offer-banner {
  background-color: var(--purple-700);
  padding: 18px 67px;
  border-radius: 10px;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.27px;
  color: #fff;
  text-align: center;
  box-shadow: 0 8px 0 0 hsla(0, 0%, 0%, 15%);
  margin-block-end: 24px;

  span {
    font-weight: 700;
  }
}

.form {
  padding: 24px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 0 0 hsla(0, 0%, 0%, 15%);
  display: grid;
  flex-direction: column;
  row-gap: 16px;
}

.input-wrapper {
  display: grid;
  position: relative;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 16px 24px;
  border: solid 1px var(--gray-200);
  border-radius: 5px;
  font-size: 15px;
  color: var(--gray-900);
  line-height: 26px;
  letter-spacing: 0.25px;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: solid 1px var(--purple-700);
}

input[type="submit"] {
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 -4px 0 0 hsla(0, 0%, 0%, 10%);
  background-color: var(--green-400);
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.75;
}

input:user-invalid {
  border: solid 2px red;
  color: var(--red-400);
}

.input-wrapper.input-user-invalid::after {
  content: url("assets/images/icon-error.svg");
  position: absolute;
  top: 20px;
  right: 12px;
  pointer-events: none;
}

@media screen and (min-width: 375px) {
  input[type="submit"] {
    letter-spacing: 2px;
  }
}

.terms {
  margin-block-start: -8px;
  font-size: 11px;
  font-weight: 500;
  color: var(--purple-350);
  line-height: 21px;
  text-align: center;

  span {
    color: var(--red-400);
  }
}

.error-message {
  font-size: 11px;
  font-weight: 500;
  font-style: italic;
  line-height: 1.65;
  color: var(--red-400);
  margin-block-start: -8px;
  justify-self: right;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("assets/images/bg-intro-desktop.png");
  }

  .main {
    padding: 89px 114px;
  }

  .title {
    font-size: 50px;
  }

  .form {
    padding: 32px 40px;
    gap: 24px;
  }

  .terms {
    margin-block-start: -16px;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    flex-direction: row;
    align-items: center;
    column-gap: 48px;
  }

  .heading,
  .content {
    flex: 1;
  }

  .heading {
    text-align: left;
  }

  .text {
    max-width: 50ch;
  }
}
